.box {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
   
    border-radius: 50%;
    border-style: solid ;
    border-color: green;

  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
  }