body{
    display: grid;
    min-height: 100vh; /* El body siempre ocupa lo que ocupa el contenido */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em 8em 1fr 4em;
    grid-gap: .5em;
}

aside{
    background: cyan;
    grid-row-start: 3;
    grid-column: 1/span 3
}
main{
    background: greenyellow;
    grid-row-start: 3;
    grid-column: 4/span 9 
}
header{
    background: yellow;
    grid-row-start: 1; 
    grid-column: 1/span 12;
}

footer {
    background: pink;
    grid-row-start: 4;
    grid-column:1/span 12;
}
.feature {
    background: indianred;
    grid-row-start: 2;
    grid-column: span 4;
}