.container {
    font-size: 2em;
    background: red;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
}
.item {
    background: yellow;
}
.item img {
    width: 150px;
}