body{
    margin: 0;
    font-size: 1.5em;
    display: grid;
    min-height: 100vh;
    gap: .5em;
    grid-template-areas: 'header '
                         'main'
                         'aside'
                         'footer';
               
}
.header {
    grid-area: header;
    background: #00C300;
    border-bottom-color: green;
    border-bottom-style:solid;
    border-bottom-width: 20px;
    box-shadow: 0 5px 10px #aaa;
}
.navbar{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 1 auto;
    align-items: stretch;
}
.menu {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-evenly;
    list-style: none;
}
.navbar-item {
    margin: 0;
    padding: 0;
}
.title{
    margin: 0 15px;
}
.menu-item {
    background: green;
    margin: 0px 15px 15px; 
    border-radius: 10px;
}
.menu-item-text{
    display: block;
    text-decoration: none;
    padding: 15px 0;
    text-align: center; 
}
.aside {
    grid-area: aside;  
}
.aside-section {
    border-top-color: green;
    border-top-style:solid;
    border-top-width: 20px;
    background: #00C300 ;
    margin: 0 5%;
    border-radius: 10px;
}
.section-text {
    margin: 5% 5%;
}
.main {
    grid-area: main;
    margin: 0 5%;
}
.footer {
    grid-area:footer;
    background: #00C300;
    border-top-color: green;
    border-top-style:solid;
    border-top-width: 20px;
}

@media screen and (min-width: 1024px) {
    body {
    grid-template-areas: 'header header header header'
                         ' main main aside aside'
                         'footer footer footer footer';
    grid-template-rows: 3em 1fr 3em;    
    grid-template-columns: 1fr 3fr 2fr 1fr ;     
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex: 1 4 auto;
        justify-content: flex-end;
        list-style: none;
        
    }
    .menu-item{
        border-radius: 0px;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr 1fr;
        grid-template-rows: 3em;
    }
    .navbar{
        flex-direction: row;
        grid-column-start: 2;
        grid-column-end:4;
    }
    .main {
        grid-column-start: 2;
    }
    .aside {
        grid-column-end: 3;
    }
    .aside-section {
        margin-top: 10%;
        border-top-color: green;
        border-top-style:solid;
        border-top-width: 20px;
        background: #00C300 ;
    }
    
}