body{
    margin: 0;
    font-size: 2em;
    display: grid;
    min-height: 100vh;
    gap: .5em;
    grid-template-areas: 'header'
                         'main'
                         'aside'
                         'footer';
               
}

@media screen and (min-width: 1024px) {
    body {
    grid-template-areas: 'header header '
                         'main aside'
                         'footer footer ';
    grid-template-rows: 2em 1fr 2em;    
    grid-template-columns: 3fr 1fr;     
    }

    
}

.item {
    background: yellow;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-area: header;
    
}
.navbar {
    display: inherit;
    flex: 1 1 200px;
    flex-wrap: inherit;
    justify-content: center;
    background: green;
    margin: 0;

}
.navbar-item {
    margin: inherit;
}
.menu { 
    display: inherit;
    justify-content: center;
    flex-wrap: inherit;
  
}
.aside {
    grid-area: aside;
    
}
.main {
    grid-area: main;

    
}
.footer {
    grid-area:footer ;
}